<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.10.1/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.10.1/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>工作台
            <small>角色管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>工作台</el-breadcrumb-item>
            <el-breadcrumb-item>角色管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="角色名称" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-button @click="findPage()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="name" label="角色名称" align="center"></el-table-column>
                <el-table-column prop="keyword" label="权限关键字" align="center"></el-table-column>
                <el-table-column prop="description" label="描述" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增角色" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="角色名称" prop="name">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="角色关键字" prop="keyword">
                                                <el-input v-model="formData.keyword"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="描述">
                                                <el-input v-model="formData.description" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="权限信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限名称</th>
                                            <th>权限关键字</th>
                                            <th>权限说明</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="permissionIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="权限信息" name="third">
                                <div class="checkScrol">
                                    <el-tree
                                            :props="props"
                                            :data="menuData"
                                            check-strictly
                                            show-checkbox
                                            default-expand-all
                                            node-key="id"
                                            ref="tree"
                                            highlight-current
                                            @check-change="handleCheckChange">
                                    </el-tree>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑角色" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="角色名称" prop="name">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="角色关键字" prop="keyword">
                                                <el-input v-model="formData.keyword"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="描述">
                                                <el-input v-model="formData.description" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="权限信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限名称</th>
                                            <th>权限关键字</th>
                                            <th>权限说明</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="permissionIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="权限信息" name="third">
                                <div class="checkScrol">
                                    <el-tree
                                            :props="props"
                                            :data="menuData"
                                            check-strictly
                                            show-checkbox
                                            default-expand-all
                                            node-key="id"
                                            ref="tree"
                                            highlight-current
                                            @check-change="handleCheckChange">
                                    </el-tree>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var vue = new Vue({
        el: '#app',
        data: {
            activeName: 'first',//添加/编辑窗口Tab标签名称
            pagination: {//分页相关属性
                currentPage: 1,
                pageSize: 10,
                total: 0,
                queryString: null,
            },
            props: {
                label: 'title',
                children: 'children'
            },
            dataList: [],//列表数据
            formData: {},//表单数据
            menuData: [],
            tableData: [],//新增和编辑表单中对应的检查项列表数据
            permissionIds: [],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
            menuIds: [],
            dialogFormVisible: false,//控制添加窗口显示/隐藏
            dialogFormVisible4Edit: false,//控制编辑窗口显示/隐藏
        },
        created() {
            this.findPage();
            this.loadPermission();
            this.loadMenu();
        },
        methods: {
            handleCheckChange() {
                this.menuIds = this.$refs.tree.getCheckedKeys();
                console.log(this.menuIds);
            },
            loadMenu() {
                //发送ajax请求查询所有检查项信息
                axios.get("/menu/findAll.do").then((res) => {
                    if (res.data.flag) {
                        //将检查项列表数据赋值给模型数据用于页面表格展示
                        this.menuData = res.data.data;
                    } else {
                        this.$message.error(res.data.message);
                    }
                });
            },
            loadPermission() {
                //发送ajax请求查询所有检查项信息
                axios.get("/permission/findAll.do").then((res) => {
                    if (res.data.flag) {
                        //将检查项列表数据赋值给模型数据用于页面表格展示
                        this.tableData = res.data.data;
                    } else {
                        this.$message.error(res.data.message);
                    }
                });
            },
            //编辑
            handleEdit() {
                axios.put("/role/edit.do?permissionIds=" + this.permissionIds, this.formData).then((response) => {
                    //隐藏窗口
                    this.dialogFormVisible4Edit = false;
                    //判断后台返回的flag值，true表示添加操作成功，false为添加操作失败
                    if (response.data.flag) {
                        this.$message({
                            message: response.data.message,
                            type: 'success'
                        });
                        this.findPage();
                    } else {
                        this.$message.error(response.data.message);
                    }
                })
            },
            //添加
            handleAdd() {
                axios.post("/role/add.do?permissionIds=" + this.permissionIds + "&menuIds=" + this.menuIds, this.formData).then((response) => {
                    //隐藏新增窗口
                    this.dialogFormVisible = false;
                    //判断后台返回的flag值，true表示添加操作成功，false为添加操作失败
                    if (response.data.flag) {
                        this.$message({
                            message: response.data.message,
                            type: 'success'
                        });
                        this.findPage();
                    } else {
                        this.$message.error(response.data.message);
                    }
                })
            },
            //分页查询
            findPage() {
                axios.post("/role/findPage.do", this.pagination).then((response) => {
                    this.dataList = response.data.rows;
                    this.pagination.total = response.data.total;
                })
            },
            // 重置表单
            resetForm() {
                this.formData = {};
                //默认切换到第一个标签页（基本信息）
                this.activeName = 'first';
                //重置
                this.permissionIds = [];

                this.menuIds = [];

                if (this.$refs.tree) {
                    this.$refs.tree.setCheckedKeys([])
                }

            },
            // 弹出添加窗口
            handleCreate() {
                this.resetForm();
                this.dialogFormVisible = true;
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                this.resetForm();
                this.dialogFormVisible4Edit = true;
                axios.get("/role/findPermissionIdsByRoleId.do?id=" + row.id).then((res) => {
                    if (res.data.flag) {
                        //将检查项列表数据赋值给模型数据用于页面表格展示
                        this.permissionIds = res.data.data;
                    } else {
                        this.$message.error(res.data.message);
                    }
                });
                axios.get("/menu/findMenuIdsByRoleId.do?id=" + row.id).then((res) => {
                    if (res.data.flag) {
                        //将检查项列表数据赋值给模型数据用于页面表格展示
                        this.$refs.tree.setCheckedKeys(res.data.data);
                    } else {
                        this.$message.error(res.data.message);
                    }
                });
                this.formData = row;
            },
            //切换页码
            handleCurrentChange(currentPage) {
                //currentPage为切换后的页码
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            // 删除
            handleDelete(row) {
                //alert(row.id);
                this.$confirm("确认删除吗？", "提示", {type: 'warning'}).then(() => {
                    //点击确定按钮时只需此处代码
                    //alert('用户点击的是确定按钮');
                    axios.delete("/role/delete.do?id=" + row.id).then((res) => {
                        if (!res.data.flag) {
                            //删除失败
                            this.$message.error(res.data.message);
                        } else {
                            //删除成功
                            this.$message({
                                message: res.data.message,
                                type: 'success'
                            });
                            //调用分页，获取最新分页数据
                            this.findPage();
                        }
                    });
                });
            }
        }
    })
</script>
</html>
